* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #333;
}

button {
  border-radius: 4px;
  background-color: #fff;
  border: none;
  font-size: 25px;
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tools {
  background-color: rgb(124, 175, 216, 0.8);
  display: flex;
  align-items: center;
}

/* .tools > * {
  background-color: #fff;
  border: none;
  font-size: 25px;
  height: 40px;
  width: 40px;
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */

#save {
  font-size: 16px;
  margin-left: auto;
  text-decoration: none;
}

input,
textarea,
select {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.counter-number {
  font-size: 100px;
  margin: 0 10px;
  color: transparent;
  background-image: linear-gradient(to right, #00aefd, #ff6bcb);
  -webkit-background-clip: text;
  background-clip: text;
}
.counter button {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border: 0;
  color: white;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
